.login{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: pink;
    height: 500px;
    width: 700px;
    border: black;
}
.box1{
    display: flex;
}
.login-left{
    display: flex;
    text-align: center;
    justify-content: end;
    align-items: center;
    background-color: rgb(255, 78, 107);
    height: 400px;
    width: 700px;
    border: black;

}
.contact>h1{
    background-color: blue;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-right: 300px;
}
.box2{
    background-color: green;
    width: 200px;
    height: 400px;
    margin:10px;
}